 

        <div class="info" style="background-color: whitesmoke;">

            <div class="about" > 
                <h1>Exactian</h1>
           
           
                <i class="fa-solid fa-location-dot"></i><h5>Mar del Plata</h5>
         
            </div>
            
            <div>
                <h1 >Contacto</h1>
                <ul class="enlaces" style="display: flex; flex-direction: column; align-items: center;">
                 <li class="li" >   
                 <button  ><i class="fab fa-whatsapp"  style="color: rgb(37,211,102);" ></i></button>
                </li>
                </ul>
            </div>
        </div>
        <div class="powered-by" style="display: flex; flex-direction: column; ">
            <p>Powered by <a href="https://portfolio-yo-programo.web.app/">GastyFt</a></p>
        </div>